@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(11, 9, 9);
}


.custom-shape-divider-bottom-1679690308 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679690308 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 193px;
}

.custom-shape-divider-bottom-1679690308 .shape-fill {
  fill: #00DF9A;
}